{% extends 'base.html.twig' %}

{% block body %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
    <link href="css/accueil.css" rel="stylesheet" />
  </head>
    <div class="container mt-5">
        <div class="s004">
        <form action="{{ path('liste_ressources') }}" method="">
            <fieldset>
            <legend>VOUS RECHERCHEZ UNE RESSOURCE ?</legend>
            <div class="inner-form">
                <div class="input-field">
                <input class="form-control" id="choices-text-preset-values" placeholder="Nom de la ressource..." type="text" name="reg"/>
                </div>
            </div>
            <div class="suggestion-wrap">
                <span><a href="{{ path('liste_ressources')}}" style="text-decoration: none; color: black;">
                    les dernières
                </a></span>
                <span><a href="{{ path('liste_categorie_ressource')}}" style="text-decoration: none; color: black;">
                    catégories disponibles
                </a></span>
                <span><a href="{{ path('liste_type_ressource')}}" style="text-decoration: none; color: black;">
                    types disponibles
                </a></span>
                {% if get_user().droit is not null %}
                    <span><a href="{{ path('liste_favoris')}}"style="text-decoration: none; color: black;">
                        favoris</a></span>
                {% endif %}
            </div>
            </fieldset>
        </form>
        </div>

    </div>
{% endblock %}
