<div class="row mb-3">
<label for="inputPrenom" class="col-sm-2 col-form-label">Prenom</label>
    <div class="col-sm-10">
        <input type="text" name="prenom" id="inputPrenom"
               class="form-control{% if errors.prenom %} is-invalid{% endif %}"
               value="{{ user.prenom }}">
        {% if errors.prenom %}
            <div class="invalid-feedback">
                {{ errors.prenom }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row mb-3">
    <label for="inputNom" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-10">
        <input type="text" name="nom" id="inputNom"
               class="form-control{% if errors.nom %} is-invalid{% endif %}"
               value="{{ user.nom }}">
        {% if errors.nom %}
            <div class="invalid-feedback">
                {{ errors.nom }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row mb-3">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="text" name="email" id="inputEmail"
               class="form-control{% if errors.email %} is-invalid{% endif %}"
               value="{{ user.email }}">
        {% if errors.email %}
            <div class="invalid-feedback">
                {{ errors.email }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row mb-3">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
        <input type="password" name="password" id="inputPassword"
               class="form-control{% if errors.password %} is-invalid{% endif %}"
               value="{{ user.plainPassword }}">
        {% if errors.password %}
            <div class="invalid-feedback">
                {{ errors.password }}
            </div>
        {% endif %}
    </div>
</div>
<div class="row mb-3">
    <label for="inputDroit" class="col-sm-2 col-form-label">Droits</label>
    <div class="col-sm-10">
        <select class="form-control" id="inputDroit" name="droit">
            {% set selected = '' %}
            {% if (user.droit) == 0 %}
            {% set selected = 'selected' %}
            {% endif %}
            <option value=0 {{ selected }}>Citoyen</option>

            {% set selected = '' %}
            {% if (user.droit) == 1 %}
            {% set selected = 'selected' %}
            {% endif %}
            <option value=1 {{ selected }}>Modérateur</option>

            {% set selected = '' %}
            {% if (user.droit) == 2 %}
            {% set selected = 'selected' %}
            {% endif %}
            <option value=2 {{ selected }}>Administrateur</option>

            {% set selected = '' %}
            {% if (user.droit) == 3 %}
            {% set selected = 'selected' %}
            {% endif %}
            <option value=3 {{ selected }}>Super Administrateur</option>
        </select>
    </div>
</div>
