{% extends 'admin/base.html.twig' %}


{% block title %}Utilisateurs{% endblock %}


{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Liste des utilisateurs</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('admin_user_create') }}"
               class="btn btn-sm btn-outline-success">
                Nouvel utilisateur
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <a href="{{ path('admin_user_read', [user.id]) }}">
                        {{ user.email }}
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ path('admin_user_update', [user.id]) }}"
                       class="btn btn-xs btn-warning">
                        Modifier
                    </a>
                    <a href="{{ path('admin_user_delete', [user.id]) }}"
                       class="btn btn-xs btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
