{% extends 'admin/base.html.twig' %}


{% block title %}Catégories de ressource{% endblock %}


{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Liste des catégories</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('admin_categorie_ressource_create') }}"
               class="btn btn-sm btn-outline-success">
                Nouvelle catégorie
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
            <tr>
                <td>
                    <a href="{{ path('admin_categorie_ressource_read', [categorie.id]) }}" style="text-decoration: none; color: black;">
                        {{ categorie.nom }}
                    </a>
                </td>
                <td class="text-end">
                    <a href="{{ path('admin_categorie_ressource_update', [categorie.id]) }}"
                       class="btn btn-xs btn-warning">
                        Modifier
                    </a>
                    <a href="{{ path('admin_categorie_ressource_delete', [categorie.id]) }}"
                       class="btn btn-xs btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
