{% extends 'admin/base.html.twig' %}


{% block title %}Catégories{% endblock %}


{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Détail de la catégorie</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('admin_categorie_ressource_create') }}"
               class="btn btn-sm btn-outline-success">
                Nouvelle catégorie
            </a>
            <a href="{{ path('admin_categorie_ressource_index') }}" class="btn btn-sm btn-outline-secondary">
                Retour à la liste
            </a>
        </div>
    </div>

    <div class="row mb-3">
        <span class="col-sm-2 col-form-label">Nom</span>
        <div class="col-sm-10">
            <span readonly class="form-control-plaintext">{{ categorie.nom }}</span>
        </div>
    </div>
    <div class="row mb-3">
        <span class="col-sm-2 col-form-label">Active</span>
        <div class="col-sm-10">
        {% if categorie.actif == true %}
        <span readonly class="form-control-plaintext">Oui</span>
        {% else %}
        <span readonly class="form-control-plaintext">Non</span>
        {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <a href="{{ path('admin_categorie_ressource_update', {'id': categorie.id}) }}"
               class="btn btn-outline-warning">
                Modifier la catégorie
            </a>
            <a href="{{ path('admin_categorie_ressource_delete', {'id': categorie.id}) }}"
               class="btn btn-outline-danger">
                Supprimer la catégorie
            </a>
        </div>
    </div>

{% endblock %}
