<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a style="padding-left: 20px;" class="navbar-brand" href="{{ path('app_index') }}">
            <img class="logo" href="{{ path('app_index') }}" src="http://localhost:8000/logo/logo2.png" atl="" width="20%"  height="20%">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="justify-content: flex-end; padding-right: 20px;" class="collapse navbar-collapse" id="mainNavBar">
            <ul class="navbar-nav ">
                <li class="d-flex">
                    {% if get_user().droit >= 2 %}
                        <a class="nav-link" href="{{ path('admin_dashboard') }}">Administration</a>
                    {% endif %}
                    {% if get_user().id is not null %}
                        <a class="nav-link" href="{{ path('admin_logout') }}">Déconnexion</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('admin_login') }}">Connexion</a>
                    {% endif %}
                </li>
            </ul>
        </div>
</nav>
