{# templates/ressource/index.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Créateur</th>
                        {% if get_user().id >= 3 %}
                        <th class="text-end">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for ressource in ressources %}
                    <tr>
                        <td>{{ ressource.id }}</td>
                        <td>{{ ressource.titre }}</td>
                        <td>{{ ressource.contenu|length > 50 ? ressource.contenu|striptags('<b>')|slice(0, 50) ~ '...'  : ressource.contenu|striptags('<b>') }}</td>
                        <td>{{ ressource.createur.email }}</td>
                        {% if get_user().id >= 3 %}
                        <td class="text-end min-width: 175px;">
                            <a href="{{ path('read_ressource', [ressource.id]) }}"
                                class="fa fa-eye" style="text-decoration: none; padding-right: 5px;"
                                title="Consulter la ressource">
                            </a>
                            <a href="{{ path('update_ressource', [ressource.id]) }}"
                                class="fa fa-edit" style="text-decoration: none; padding-right: 5px;"
                                title="Modifier la ressource">
                            </a>
                            <a href="{{ path('delete_ressource', [ressource.id]) }}"
                                class="fa fa-trash" style="text-decoration: none; color: crimson; padding-right: 5px;"
                                title="Supprimer la ressource">
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if get_user().droit is not null %}
            <a href="{{ path('create_ressource')}}" class="btn btn-light">Créer une ressource</a>
            {% endif %}
        </div>
    </div>
{% endblock %}