{# templates/ressource/index.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container my-4">

    <h1 title="Catégorie de ressource" class="border-left-0 rounded" style="background-color: steelblue; color: white; padding: 10px;">Ressources pour la recherche "{{reg}}"</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ path('liste_ressources') }}" class="btn btn-sm btn-outline-secondary">
            Retour à la liste
        </a>
    </div>

    <div class="mt-4">
        {% for ressource in ressources %}
            <div class="card gedf-card mt-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                             <div class="mr-2">
                                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">&nbsp;{{ ressource.createur.prenom }}&nbsp;{{ ressource.createur.nom }}</div>
                                <div class="h7 text-muted">&nbsp;{{ ressource.createur.email }}</div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <td class="text-end min-width: 175px;">
                                    <a href="{{ path('read_ressource', [ressource.id]) }}"
                                        class="fa fa-eye" style="text-decoration: none; padding-right: 5px;"
                                        title="Consulter la ressource">
                                    </a>
                                    {% if (get_user().id == ressource.createur.id) or (get_user().droit >= 2) %}
                                    <a href="{{ path('update_ressource', [ressource.id]) }}"
                                        class="fa fa-edit" style="text-decoration: none; padding-right: 5px;"
                                        title="Modifier la ressource">
                                    </a>
                                    <a href="{{ path('delete_ressource', [ressource.id]) }}"
                                        class="fa fa-trash" style="text-decoration: none; color: crimson; padding-right: 5px;"
                                        title="Supprimer la ressource">
                                    </a>
                                </td>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ressource.dateModification|date('d-m-Y')}} à {{ressource.dateModification|date('H:i')}}</div>
                    <h5 class="card-title">{{ ressource.titre }}</h5>
                    <p class="card-text">
                        {{ ressource.contenu|length > 50 ? ressource.contenu|striptags('<b>')|slice(0, 300) ~ '...'  : ressource.contenu|striptags('<b>') }}
                    </p>
                    <span class="badge" style="background-color: chocolate;">
                        <a href="{{ path('categorie_ressource', [ressource.categorie.id]) }}"
                            title="Voir toutes les ressources de cette catégorie" style="text-decoration: none; color:white;">
                            {{ressource.categorie.nom}}
                        </a>
                    </span>
                    <span class="badge" style="background-color: CornflowerBlue;">
                        <a href="{{ path('type_ressource', [ressource.type]) }}"
                            title="Voir toutes les ressources de ce type" style="text-decoration: none; color:white;">
                            {{ressource.type|replace({'_': ' '})|capitalize}}
                        </a>
                    </span>
                </div>
                <div class="card-footer">
                    {% if get_user().id in ressource.userFavoris %}
                        <a href="#" class="card-link" style="text-decoration: none; color: black;"><i class="fa fa-star"></i> Retirer des favoris</a>
                    {% else %}
                        <a href="#" class="card-link" style="text-decoration: none; color: black;"><i class="fa fa-star-o"></i> Ajouter aux favoris</a>
                    {% endif %}
                    <!-- <a href="#" class="card-link" style="text-decoration: none; color: black;"><i class="fa fa-comment"></i> Comment</a>
                    <a href="#" class="card-link" style="text-decoration: none; color: black;"><i class="fa fa-mail-forward"></i> Share</a> -->
                </div>
            </div>
        {% endfor %}
    </div>

    {% if get_user().droit is not null %}
        <a href="{{ path('create_ressource')}}" class="btn btn-success mt-4">Créer une ressource</a>
    {% endif %}
{% endblock %}